@use '../../abstract' as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: lighten($neutral, 5%) !important;
  box-shadow: $box-shadow-2;
  border-bottom: 1px lighten($text, 50%);
  width: 100%;

  @include desktop {
    padding-inline: calc(100vw - 90%);
  }

  height: 5rem;

  &__nav--items {
    display: flex;
    place-content: space-between;
    align-items: center;
    height: 4.5rem;

    padding-inline: 1rem;
  }
  &__nav--item {
    .logo {
      transform: scale(2.3, 2.3);
      margin-left: 0.5em;
    }
  }

  .user-profile {
    display: none;
  }

  @include desktop {
    .user-profile {
      display: block;
    }

    .menu {
      display: none;
    }
  }
}
