// colors
$primary: #ee4266;
$secondary: #00bfb2;
$text: #191923;
$accent: #ffbc42;
$neutral: #f4f4f9;

$box-shadow-1: 8px 8px 28px 0px rgba(25, 25, 35, 0.39);
$box-shadow-2: 8px 8px 28px 0px rgba(25, 25, 35, 0.19);
$box-shadow-3: 8px 8px 49px -170px rgba(25, 25, 35, 0.09);

$border-radius: 5px;
$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;
